@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin-ext");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: 10px; }

body {
  background: white; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: #75915c;
  color: #fCfCfC;
  border: 1px solid black; }

.header, .row2 {
  background: #fCfCfC;
  color: #75915c; }

.header {
  height: 200px;
  text-align: center;
  padding-top: 50px;
  font-size: 30px; }

.subheader {
  font-size: 20px; }

.nav {
  list-style: none; }
  .nav li {
    background: #fCfCfC;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    position: relative;
    z-index: 10;
    font-weight: bold; }
    .nav li a {
      text-decoration: none;
      color: #75915c; }
      .nav li a:hover {
        color: #767676; }
  .nav ul {
    display: none;
    list-style: none; }
  .nav li:hover > ul {
    display: block; }
  .nav ul ul {
    margin-left: 150px;
    top: 0;
    position: absolute;
    list-style: none; }

.post {
  padding: 30px; }

.foto {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #fCfCfC; }
  .foto a:first-child {
    height: 100%;
    display: block; }
  .foto img {
    height: 100%; }

.foto1 {
  background: url("https://images.pexels.com/photos/110243/pexels-photo-110243.jpeg?h=350&amp;auto=compress") top center;
  background-size: cover; }

.foto2 {
  background: url("https://images.pexels.com/photos/37337/cat-silhouette-cats-silhouette-cat-s-eyes.jpg?h=350&auto=compress") top center;
  background-size: cover; }

.foto3 {
  background: url("https://images.pexels.com/photos/165752/pexels-photo-165752.jpeg?h=350&auto=compress") top center;
  background-size: cover; }

.foto4 {
  background: url("https://images.pexels.com/photos/57678/pexels-photo-57678.jpeg?h=350&auto=compress&cs=tinysrgb") top center;
  background-size: cover; }

.foto5 {
  background: url("https://images.pexels.com/photos/8415/pexels-photo.jpg?h=350&auto=compress") top center;
  background-size: cover; }

.foto6 {
  background: url("https://images.pexels.com/photos/127282/pexels-photo-127282.jpeg?h=350&auto=compress&cs=tinysrgb") top center;
  background-size: cover; }

.podpis {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fCfCfC;
  color: #75915c;
  text-align: center;
  line-height: 25px;
  font-size: 20px;
  padding: 10px;
  text-decoration: none; }

.blog a {
  text-decoration: none;
  color: white; }
  .blog a:hover {
    color: #dddddd; }

.opis {
  line-height: 1.5em;
  text-align: justify; }

form {
  padding: 20px;
  text-align: center; }

.input {
  width: 300px;
  height: 30px; }

.icons {
  text-align: center; }

.asideinfo {
  padding: 30px; }

.asidepost {
  width: 350px;
  text-align: center;
  padding: 20px;
  margin: 0 auto; }
  .asidepost a {
    text-align: center;
    text-decoration: none;
    color: white; }
    .asidepost a:hover {
      color: #dddddd; }

.image {
  width: 100%;
  border: 1px solid #fCfCfC;
  margin-bottom: 5px;
  height: 200px; }
  .image:hover {
    -webkit-filter: grayscale(100%); }

.image1 {
  background: url("https://images.pexels.com/photos/115011/cat-face-close-view-115011.jpeg?h=350&auto=compress") top center;
  background-size: cover; }

.image2 {
  background: url("https://images.pexels.com/photos/20306/pexels-photo.jpg?h=350&auto=compress") top center;
  background-size: cover; }

.image3 {
  background: url("https://images.pexels.com/photos/47390/pexels-photo-47390.jpeg?h=350&auto=compress") top center;
  background-size: cover; }

.image4 {
  background: url("https://images.pexels.com/photos/31025/pexels-photo-31025.jpg?h=350&auto=compress") top center;
  background-size: cover; }

.image5 {
  background: url("https://images.pexels.com/photos/147243/pexels-photo-147243.jpeg?h=350&auto=compress") top center;
  background-size: cover; }

.image6 {
  background: url("https://images.pexels.com/photos/60224/pexels-photo-60224.jpeg?h=350&auto=compress&cs=tinysrgb") top center;
  background-size: cover; }

.image7 {
  background: url("https://images.pexels.com/photos/17767/pexels-photo.jpg?h=350&auto=compress") top center;
  background-size: cover; }

.image8 {
  background: url("https://images.pexels.com/photos/65006/pexels-photo-65006.jpeg?h=350&auto=compress") top center;
  background-size: cover; }

.image9 {
  background: url("https://images.pexels.com/photos/167773/pexels-photo-167773.jpeg?h=350&auto=compress&cs=tinysrgb") top center;
  background-size: cover; }

.image10 {
  background: url("https://images.pexels.com/photos/68915/pexels-photo-68915.jpeg?h=350&auto=compress") top center;
  background-size: cover; }

.fa {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: white;
  line-height: 70px; }

.fa-rss {
  background: #f8991d; }

.fa-instagram {
  background: #808181; }

.fa-plus {
  background: #3fbef5; }

.fa-youtube {
  background: #d52527; }

.btn {
  margin: 10px;
  padding: 10px;
  min-width: 100px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s;
  background-color: inherit;
  border: 2px solid;
  border-color: white;
  background-image: linear-gradient(45deg, white 50%, transparent 50%);
  background-size: 300%;
  background-position: 100% 0;
  color: white; }

button:hover {
  background-position: 0 100%;
  color: #75915c; }

.btn a {
  text-decoration: none; }
  .btn a:hover {
    color: #75915c; }

.footer {
  text-align: center;
  font-size: 20px;
  background: #546942;
  padding: 20px; }

.col-12, .col-m-12, .col-s-12 {
  padding: 0; }

.toRight {
  float: right; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

@media (max-width: 767px) {
  /* For mobile */
  .foto {
    display: inline-block;
    text-align: center;
    background-size: cover; }
  .post {
    padding: 0; }
  .opis {
    line-height: 1.2em; }
  .blog a {
    margin-left: 0; }
  .asideinfo, .asidepost {
    padding: 10px; }
  .nav li {
    float: none;
    position: static;
    height: auto;
    width: auto; }
  .nav ul {
    display: block; }
    .nav ul li {
      list-style: none; }
    .nav ul ul {
      margin-left: 0; }
  .nav li ul {
    display: block; }
  .nav ul ul {
    position: static;
    top: 200px; }
  .foto {
    width: 100%;
    height: 100vw; }
  .col-s-1 {
    width: 8.33%; }
  .col-s-2 {
    width: 16.66%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.33%; }
  .col-s-5 {
    width: 41.66%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.33%; }
  .col-s-8 {
    width: 66.66%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.33%; }
  .col-s-11 {
    width: 91.66%; }
  .col-s-12 {
    width: 100%; } }

@media (min-width: 768px) and (max-width: 1200px) {
  /* For tablets */
  .asidepost {
    float: left;
    width: 50%; }
  .nav ul ul {
    left: -200%; }
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.33%; }
  .col-m-11 {
    width: 91.66%; }
  .col-m-12 {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */